body {
    margin: 0;
   
}
.main-class{
    display: flex;
    header{
        min-height: 100vh;
        background-color: #423232;
        width: 15%;
    }
   
}

.body-container{
    background-color: cadetblue;
    min-width: 85%;
   
}





