h1,
h2,
p {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-family: "Playwrite NZ Basic";
    text-align: justify;
}

.header-container {
    display: flex;
    justify-content: center;
    background-color: rgb(219, 34, 34);
}

.body-container {
    background-color: #17191b;
    width: 100%;
}

.main-container {
    display: flex;
    justify-content: space-evenly;

}

.top-container {
    width: 60%;
    margin-bottom: 3rem;
}

.elements-container {
    background-color: #660708;
    margin: 30px;
    padding: 30px;

    .img-container {
        .img-elements {
            display: flex;
            justify-content: space-between;
            img {
                width: 45%;
                height: 175px;
                margin: 10px;

            }
        }
    }
}
.headers-main{
    min-width:  100vw;
}